<footer class="footer">
    <span class="footer__copyright">&copy; {{date format="YYYY"}}. <a href="http://uno.daleanthony.com" title="link to page for Uno Ghost theme">Uno theme</a> by <a href="http://daleanthony.com" title="link to website for Dale-Anthony">Dale-Anthony</a>. Proudly published with <a href="http://ghost.org" title="link to Ghost website">Ghost</a>.</span>
</footer>